################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.vcxproj
*.filters
*.user
*.stash
/*.xcodeproj

/Debug
/x64/Debug
/build-gui-Desktop_Qt_5_9_3_MinGW_32bit-Debug
/build-gui_new-Desktop_Qt_5_9_3_MinGW_32bit-Debug
/build-gui_new-Desktop_Qt_5_9_3_MinGW_32bit-Release
/gui_new/.vs
/gui_new/debug
/gui_new/release
/gui_new/x64/Debug
*.sln
