################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.vcxproj
*.filters
*.user
/Debug
/x64/Debug
/build-gui-Desktop_Qt_5_9_3_MinGW_32bit-Debug
/*.xcodeproj

/build-gui_new-Desktop_Qt_5_9_3_MinGW_32bit-Debug
